// font

$nunito-font: 'Nunito Sans', sans-serif;
$small: 14px;
$medium: 16px;

// weight

$font-bold: 800;
$font-normal: 500;
$font-light: 300;

// colors

$color-black: hsl(200, 15%, 8%);
$color-white: hsl(0, 0%, 98%);
$color-pale-white: hsl(0, 0%, 100%);

$deep-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;